@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Orders List </h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-action="AddOrdersExtension" style="background-color:forestgreen"><i class="fas fa-plus"></i> &nbsp; Add Admin Orders from Extension</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-right">
            <a class="btn btn-primary" asp-action="AddOrdersManually" style="background-color:forestgreen"><i class="fas fa-plus"></i> &nbsp;&nbsp; Add Admin Orders Manually</a>
        </div>
    </div>

    <br />
    @*<div id="AllOrders">
            <input type="checkbox" id="pos" value=true />  Show All Orders
        </div>*@
<div class="p-4 border rounded">
    <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="Accepted" checked />
        <label class="custom-control-label" for="Accepted">Accepted </label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="InProgress" checked />
        <label class="custom-control-label" for="InProgress">In Progress </label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="Done" checked>
        <label class="custom-control-label" for="Done">Done </label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="Cancelled" checked />
        <label class="custom-control-label" for="Cancelled">Cancelled </label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="FullRefund" checked />
        <label class="custom-control-label" for="FullRefund">Full Refund </label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="PartialRefund" checked />
        <label class="custom-control-label" for="PartialRefund">Partial Refund </label>
    </div>
    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>Order Id</th>
                <th>Order Status</th>
                <th>Product</th>
                <th>US Date</th>
                <th>Store</th>
                <th>Quantity</th>
                <th>Full Address</th>
                <th>Tracking Number</th>
                <th></th>
        </thead>
        @{string FullAddress = "";}
        @foreach (Order order in Model.Order)
        {
            FullAddress = "";
<tr>
    <td>@order.Id</td>
    <td>@order.OrderStatus</td>
    <td>@ViewBag.getProductName(order.ProductId).ToString()</td>
    <td>@order.UsDate.ToString("dd/MM/yyyy")</td>
    <td>@ViewBag.getStoreName(order.StoreNameId).ToString()</td>
    <td>@order.Quantity</td>

    @{FullAddress = @order.CustName + "\n" + order.CustStreet1 + "\n";}
    @if (order.CustStreet2 != null)
    {
        FullAddress = FullAddress + order.CustStreet2 + "\n";
    }
    @{FullAddress = FullAddress + order.CustCity + " " + order.CustState + " " + order.CustZipCode + "\n"
                                                                      + "United States";}
    @if (order.CustPhone != null && order.CustPhone.Length > 0)
    {
        FullAddress = FullAddress + "\n" + order.CustPhone;
    }
    <td><textarea readonly>@FullAddress</textarea></td>
    <td>@order.TrackingNumber</td>
    <td>
        @if (order.OrderStatus == KTSite.Utility.SD.OrderStatusAccepted)
        {
<div class="text-center">
    <a href="/Admin/Order/UpdateOrder/@order.Id" class="btn btn-success text-white" style="cursor:pointer">
        <i class="fas fa-edit"></i>
    </a>
</div>}
        @if (order.OrderStatus == KTSite.Utility.SD.OrderStatusDone)
        {
@if (ViewBag.AllowComplaint(order.Id.ToString()))
{
<div class="text-center">
    <a href="/Admin/Complaints/AddComplaint/@order.Id" class="btn btn-info text-white" style="cursor:pointer">
        <i class="fas fa-ticket-alt"></i>
    </a>
</div>}}
    </td>
</tr>}
    </table>
</div>
</div>

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('#tblData').DataTable({ "order": [[0, "desc"]],"pageLength": 100 });
            });</script>

        @if (ViewBag.errSaveInProgress)
        {
            <script>
                swal("Pay Attention: could not save status \"In Progress\" to All orders!", "error")
                    .then((value) => { })
            </script>

        }
<script>
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var status = data[1];
                    if (($('#Accepted').prop("checked") == true && status == '@KTSite.Utility.SD.OrderStatusAccepted.ToString()') ||
                        ($('#InProgress').prop("checked") == true && status == '@KTSite.Utility.SD.OrderStatusInProgress.ToString()')||
                        ($('#Done').prop("checked") == true && status == '@KTSite.Utility.SD.OrderStatusDone.ToString()') ||
                        ($('#Cancelled').prop("checked") == true && status == '@KTSite.Utility.SD.OrderStatusCancelled.ToString()') ||
                        ($('#FullRefund').prop("checked") == true && status == '@KTSite.Utility.SD.OrderStatusFullRefund.ToString()') ||
                        ($('#PartialRefund').prop("checked") == true && status == '@KTSite.Utility.SD.OrderStatusPartialRefund.ToString()'))
                    {
                        return true;
                    }
                    else { return false; }
                }
            );
            $('input:checkbox').on('change', function () {
                var table = $('#tblData').DataTable();
                table.draw();
            });
</script>
    }


