@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4" style="color:blue;font-size:40px">Welcome Back, @ViewBag.Name!</h1>
</div>
<div class="col-12" style="font:message-box">
    <div class="text-left display-3 p-4 border rounded col-3" >
        <h1 style="font-size: 20px">@ViewBag.Name, Your Current Balance is : @ViewBag.Balance.ToString("0.00")$</h1>
        @if (ViewBag.PendingCount == 0)
        {
            <h1 style="font-size: 20px">No Pending Payments</h1>
        }
        else
        {
            <h1 style="font-size: 20px"> You Have @ViewBag.PendingAmount$ waiting for Admin Approval</h1>
        }
    </div>
    &nbsp;
    <div class="text-left display-4 p-2 border rounded col-4">
        <h1 class="display-4" style="color:red;font-size:20px">Important Admin Notifications:</h1>
        <ul>
            @foreach (Notification notification in @ViewBag.NotificationList)
            {
            <li class="display-4" style="font-size:20px">@notification.Message</li>
           }
        </ul>
        </div>
</div>
&nbsp;
<div>
	<div id="chartContainer" style="height: 370px; width: 70%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</div>
@section Scripts{
    <script>
window.onload = function () {
    CanvasJS.addColorSet("greenShades",
        [//colorSet Array
            "#3CB371"
        ]);
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
    colorSet: "greenShades",
	title: {
		text: "Number Of Sold Items Per Day In The Last Month"
	},
	axisY: {
		title: "No. of Items"
	},
	data: [{
		type: "column",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

}
    </script>
}